header {
  height: 50px;
  width: 100%;
  padding: 5px 0;
  color: #fff;
  background-image: linear-gradient(to right, #fa709a 0%, #9e40f1 100%);
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
header .headline{
    line-height: 30px;
    font-size: 30px;
	border-left: 5px solid #000;
}
.nav-list {
  text-align: center;
  color: #fff;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.ms{
	cursor: pointer;
}
.text-hidden{
	display: none;
}
.text-bold {
	font-weight: bold;
}

blockquote {
	font-size: 100%;
	background-color: #eee;
	color: #a0a;
}

ul, ol {
	padding: 0;
	position: relative;
}

.open-window {
	margin-top: 5px;
	background-color: #eee;
}
ul li, ol li {
  color: #80a;
  font-weight: bold;
  border-left: solid 6px #80a;/*左側の線*/
  margin-bottom: 1px;/*下のバーとの余白*/
  line-height: 1.0;
  padding: 0.5em;
  list-style-type: none;/*ポチ消す*/
}

.col-1 {
	padding: 0px 0px 0px 20px;
	display: inline-block;
    width: 150px;
	font-weight: bold;
}
.col-2 {
	display: inline-block;
    width: 300px;
}
.col-3 {
	padding: 0px 0px 0px 20px;
	font-weight: bold;
}
.btn-norm {
	font-size: 1.1rem;
	font-weight: 150;
	line-height: 1.3;
	padding: 1rem,0.5rem;
}
.btn-big {
	font-size: 1.2rem;
	font-weight: 200;
	line-height: 1.5;
	padding: 1rem,0.5rem;
}
.btn-a {
	color: #fff;
	background: #d94887;/*#e08;*/
	border-color: #e5f;
	border-radius: 0.5rem;
}
.btn-b {
	color: #fff;
	background: #a0a;
	border-color: #ffe;
	border-radius: 0.5rem;
}
table {
  border-collapse: collapse;
  border: solid 1px #111;
  width: 300px;
  max-width: 100%
}
th, td {
  border: solid 1px #333; /* 線の種類 太さ 色 */
}
.style-a {
  background-color: #78f;
}
.style-b {
  background-color: #6f8;
}
.style-c {
  background-color: #ff8;
}
.style-d {
  background-color: #f66;
}
.text-right {
  text-align: right;
  width: 80px;
}